[init]
	defaultBranch = main
[user]
	email = exiles.prx@gmail.com
	name = Exiles.prx
	signingkey = /home/acampbell/.ssh/id_ed25519.pub
[core]
	editor = nvim
[rerere]
	enabled = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[safe]
	directory = /mnt/storage/code
[alias]
  cb = rev-parse --abbrev-ref HEAD
  ft = fetch --tags
  rom = rebase -i origin/main
  undo = reset --soft HEAD^
