[alias]
  cb = rev-parse --abbrev-ref HEAD
  ft = fetch --tags
  pfwl = push --force-with-lease
  rom = rebase -i origin/main
  undo = reset --soft HEAD^
[commit]
  gpgsign = true
[core]
  editor = nvim
  pager = delta
[delta]
  features = catppuccin-mocha
  navigate = true
  side-by-side = true
[gpg]
  format = ssh
[include]
  path = ~/.config/delta/themes/catppuccin.gitconfig
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[merge]
  tool = lazygit
[mergetool "lazygit"]
  cmd = lazygit
[rerere]
  enabled = true
[safe]
  directory = /mnt/storage/code
[user]
  email = exiles.prx@gmail.com
  name = Exiles.prx
  signingkey = /home/acampbell/.ssh/id_ed25519.pub
